
body{

  /*background: #98f9e8;
  background: -moz-linear-gradient(top,  #98f9e8 0%, #207cca 23%, #1f2256 51%, #000000 88%, #000000 100%);
  background: -webkit-linear-gradient(top,  #98f9e8 0%,#207cca 23%,#1f2256 51%,#000000 88%,#000000 100%);
  background: linear-gradient(to bottom,  #98f9e8 0%,#207cca 23%,#1f2256 51%,#000000 88%,#000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98f9e8', endColorstr='#000000',GradientType=0 ); */


  background: rgb(123,229,225);
  background: -moz-linear-gradient(top,  rgba(123,229,225,1) 0%, rgba(30,134,153,1) 13%, rgba(27,90,109,1) 23%, rgba(19,41,79,1) 50%, rgba(0,0,0,1) 87%);
  background: -webkit-linear-gradient(top,  rgba(123,229,225,1) 0%,rgba(30,134,153,1) 13%,rgba(27,90,109,1) 23%,rgba(19,41,79,1) 50%,rgba(0,0,0,1) 87%);
  background: linear-gradient(to bottom,  rgba(123,229,225,1) 0%,rgba(30,134,153,1) 13%,rgba(27,90,109,1) 23%,rgba(19,41,79,1) 50%,rgba(0,0,0,1) 87%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7be5e1', endColorstr='#000000',GradientType=0 );


  font-family: 'Julius Sans One', sans-serif;
  color: white;

}

.wrapper{
  margin: 0 auto;
}

.titles{
  text-align: center;
  padding: 0;
}

.board {
  /* margin: 10% auto;*/
  height: 500px;
  width: 645px;
  display: inline-block;
  border: 1px solid #aaffdb;
  border-radius: 5px;
  background-color: black;
  opacity: 0.8;
}

.sidebar{
  width: 16%;
  margin: 8% 4% 0 4%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

.instructions{
width: 40%;
/* display: inline-block;
margin: 0 auto; */
text-align: center;
}

.card {
  /* have to make sure the width of the square x square size matches the width of the container, otherwise the index will be off */
  width: 50px;
  height: 50px;
  border: 1px solid hidden;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0.2%;
}

.card img {
  padding: 27% 0;
  max-width: 100%;
  max-height: 100%;
/*  mix-blend-mode: lighten; */
  visibility: visible;
}

.is-visible {
  visibility:visible;
}

.card:hover{
  border: 1px solid #93ffc5;
}

.player1.current {
  color: blue;
  border-color: blue;
}

.player2.current {
  color: red;
  border-color: red;
}


h1{
/*  text-align: center; */
font-family: 'Cinzel Decorative', cursive;
  text-shadow: 0 0 0.2em white;
}
